.form{
    padding: 20px;
}
.con-group{
    padding: 10px;
    margin: 10px;
}
.con-group label{
    display: block;
    margin-bottom: 0px;
}
.con-group input{
    padding: 2px;
    width: 100%;
}

.media{
    text-decoration: none;
    color: blue;
    display: 1px;
    margin-left: 30px;
    margin-top: 15px;
}
.lp{
    text-align: center;
    font-style: italic;
    font-size: 25px;
}
.con-sub input[type="submit"] {
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    background-color: blue;
    color: white;
    position: relative;
}
.con-sub:hover input[type="submit"]{
    background-color: red;
    color: white;
}
#hr{
    padding-bottom: 10px;
    border-bottom: solid brown 1px;
    
}
#c1{
    padding-left: 100px;
}
/* #c2, #c3{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    width: 50%;
    border: black solid 2px;
    box-sizing: content-box;
} */
#pa{
    padding-left: 30px;
}
#p1{
    border: black solid 2px;
    margin: 5px;
}
#p2{
    border: black solid 2px;
    margin: 5px;
}
#h31{
    padding-left: 20px;
    font-size: 25px;
    font-style: italic;
    
}
#ind{
    padding-left: 10px;
    padding-right: 10px;
    border: dotted grey 5px;
}
img{
    padding-right: 10px;
}
#h{
    padding-left: 50px;
    color: maroon;
    font-style: italic;
}
#u1{
    width: 500px;
    border: black dashed 1px; 
}
#l1{
    font-weight: bold;
    
}
#gallaryh3{
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
    margin-top: 30px;
    font-size: 2em;
    font-style: italic;
    border-bottom: slategrey solid 2px;
    padding-bottom: 1%;
}
.imgg{
    float: left;
    width: 30%;
    margin-left: 1.7%;
    margin-bottom: 10px;
}
#imgi{
    height:200px;
    width: 350px;
}