.form{
    padding: 20px;
}
.con-group{
    padding: 10px;
    margin: 10px;
}
.con-group label{
    display: block;
    margin-bottom: 0px;
}
.con-group input{
    padding: 2px;
    width: 100%;
}

.media{
    text-decoration: none;
    color: blue;
    display: 1px;
    margin-left: 30px;
    margin-top: 15px;
}
.lp{
    text-align: center;
    font-style: italic;
    font-size: 25px;
}
.con-sub input[type="submit"] {
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    background-color: blue;
    color: white;
    position: relative;
}
.con-sub:hover input[type="submit"]{
    background-color: red;
    color: white;
}
#hr{
    padding-bottom: 10px;
    border-bottom: solid black 2px;
    
}
