a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 50px;
    text-align: center;
    text-transform: uppercase;
}
a:hover{
    color: black;
}

.form{
    padding: 20px;
}
.con-group{
    padding: 10px;
    margin: 10px;
}
.con-group label{
    display: block;
    margin-bottom: 0px;
}
.con-group input{
    padding: 2px;
    width: 100%;
}

.media{
    text-decoration: none;
    color: blue;
    display: 1px;
    margin-left: 30px;
    margin-top: 15px;
}
.lp{
    text-align: center;
    font-style: italic;
    font-size: 25px;
}
.con-sub input[type="submit"] {
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    background-color: blue;
    color: white;
    position: relative;
}
.con-sub:hover input[type="submit"]{
    background-color: red;
    color: white;
}
#hr{
    padding-bottom: 10px;
    border-bottom: solid brown 1px;
    
}
#c1{
    padding-left: 100px;
}
/* #c2, #c3{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    width: 50%;
    border: black solid 2px;
    box-sizing: content-box;
} */
#pa{
    padding-left: 30px;
}
#p1{
    border: black solid 2px;
    margin: 5px;
}
#p2{
    border: black solid 2px;
    margin: 5px;
}
#h31{
    padding-left: 20px;
    font-size: 25px;
    font-style: italic;
    
}
#ind{
    padding-left: 10px;
    padding-right: 10px;
    border: dotted grey 5px;
}
img{
    padding-right: 10px;
}
#h{
    padding-left: 50px;
    color: maroon;
    font-style: italic;
}

#l1{
    font-weight: bold;
    
}
#gallaryh3{
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px; 
    margin-top: 30px;
    font-size: 2em;
    font-style: italic;
    border-bottom: slategrey solid 2px;
    padding-bottom: 1%;
}
.imgg{
    float: left;
    width: 30%;
    margin-left: 1.7%;
    margin-bottom: 10px;
}
#imgi{
    height:200px;
    width: 350px;
}
#imgc{
    padding-left: 20px;
    padding-top: 30px;
    width: 600px;
    height: 300px;
}
#pc{
    text-align: center;
}
h1{
    text-align: center;
}


/* flexable box */

#flex0{
    display: flex;
    
    flex-basis: 20%;
}
#flex0 img{
    flex: 1;
}
#ind{
    flex-shrink: 0;
}

@media(min-width:568px){
    #flex1{
        display: flex;
        justify-content: space-between;
    } 

}

#flex1 div{
  border: black 1px solid;
  padding: 10px;
  background-color: cadetblue;
  margin: 10px;
}
#box1{
    flex: 2;
    order: 3;
    flex-shrink: 0;

}
#box2{
    flex: 1;
    order: 1;
    flex-shrink: 0;
}
#box3{
    flex: 2;
    order: 2;
    flex-shrink: 0;
}
#box3, #box2, #box1{
    flex-basis: 25%;
}
#flex2{
    display: flex;
    justify-content: center;
}
#flex2 div{
    border: solid 1px black;
    margin: 15px;
    padding: 15px;
    background-color: cadetblue;
    
}
#t1{
   order: 2; 
}
#t2{
    order: 1;
}
/* #gallflex{
    display: flex;
} */
#imgflex1{
    display: flex;
    flex-basis: 25%;
    order: 2;

}
#imgflex2{
    display: flex;
    flex-basis: 25%;
    order: 1;
    
}
#imgflex3{
    display: flex;
    flex-basis: 25%;
    order: 3;
    
}
@media(min-width:568px){
#flexcontact{
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    flex-shrink: 0;
}
}
#conimgf{
    display: flex;
    flex-shrink: 0;
    flex: 2;
}
#flexinput{
    flex-shrink: 0;
    flex: 1;
}