*{
    background-color: lightgrey;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding-left: 50px;
    text-align: center;
    text-transform: uppercase;
    
}
a:hover{
    color: black;
}

#vl1{
    height: 300px;
    margin: 50px 480px;
    border: black solid 3px;
    position: absolute;

}
#vl2{
    height: 300px;
    border: black solid 3px;
    margin: 50px 580px;
    position: absolute;

}
#hl1{
    width: 300px;
    border: black solid 3px;
    margin: 150px 380px;
    position: absolute;
}
#hl2{
    width: 300px;
    border: black solid 3px;
    margin: 250px 380px;
    position: absolute;
}

h1{
    margin-top: 80px;
    font-size: 40px;
    font-style: italic;
    text-align: center;

}
#tictac{
    display: flex;
    flex-shrink: 0;
}
nav:hover{
    color: blue;
}
